   /* Marian Bantjes Essay CSS */
   
   
   
   
   body {
            
        font-family: "museo-slab", serif;
       line-height: 1.5;
       margin: 0;
       background-image: url(../images/marian-better.png) /* til i get the banner fixed */
           
        
        
        }


/*
header {
    
    background-image: url(../images/marian-background.png)

    
}
*/






    article {
        
        width: 80%;
        margin: auto;
       margin-top: 200px; /* til i get the banner fixed*/
        border: 1px solid grey;
/*        border-top: none;*/
        padding: 40px;
        background-color: white;

        
    }


    h1 {
        
        font-size: 3.157em;
        text-transform: uppercase;
        letter-spacing: 1px;
/*
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        width: 500px;
        margin: auto;
*/
        
    }

h2, #biblo {
    
        font-size: 2.369em;
    
    
}


    h1, h2, #biblo {
        
        text-align: center;
        
    }


h3 {
    
    font-size: 1.777em;
    
}

h4 {
    
    font-size: 1.333em;
    
    
}




h1, h2, h3, h4 {
    
    
    font-weight: normal;
    
    
}


    #intro {
        
        text-align: left;
        font-size: 1.333em;
        
    }


hr { 
    
    border: none;
    padding: 5px;

}


p {
    
    
    padding: 5px;
    
    
}






        blockquote {
         
            margin-top: 60px;
            
        }
        
        
        blockquote p {
         
            font-size: 1.333em;
            color: #555;
            border-left: 5px solid #d5d5d5;
            padding-left: 20px;
            
            
        }
        
        
        .cite { 
            
            color: #555;
            margin-bottom: 40px;
            
        }



        #disguise-ol {
            
            padding: 5px 30px; /* inline with text at the minute */
            padding-right: 0px;
            
        }


        ol li {
            
            
            
            padding: 10px;
            
            
        }



footer {
    
    width: 300px; /* guestamit */
    display: block;
    margin: auto;

    
}



footer p {
    
    
    display: inline;
    text-align: center;
    
    
}

footer p#middle-line {
    
    border-left: 1px solid grey;
    
    
    
}


a, a:link, footer a {
    
    
    color: inherit;
    text-decoration: none;
    
    
}


a:hover {
    
    color: #d5d5d5; /* or do this for visited? */
    
    
}


/*
#banner-image, #banner-image p {
    
    
    padding: 0;
    margin: 0;
    
    
}




#banner-image img { 
    
    display: block;
    margin: auto;
    height: 200px;
    

}
*/

        