   /* Marian Bantjes Essay CSS */
   
   
   
   
   body {
            
        font-family: "museo-slab", 'Nixie One', Baskerville, Georgia, 'Times New Roman', serif;
       line-height: 1.5;
       margin: 0;
       color: #2a2a2a;
       font-size: 100%;
/*
    background-image: url(../images/background.svg);
    background-repeat: repeat-x;
    background-size: 800px;
*/
           
        
        
        }


/*
header {
    
    background-image: url(../images/marian-background.png)

    
}
*/






    article {
        
        width: 70%;  /* was 80 before*/
        margin: 0 auto;
/*
        border: 1px solid #d5d5d5;
        border-top: none;
*/
        padding: 40px;
        margin-top: 0; /* close large gap above title */
        background-color: white;

        
    }


    h1 {
        
        font-size: 3.157em;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 0px; /* was 170 when banner fixed */
/*
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        width: 500px;
        margin: auto;
        
        
*/
        

    }




h2, #biblo {
    
        font-size: 2.369em;
    
    
}


    h1, h2, #biblo {
        
        text-align: center;
        
    }


h3 {
    
    font-size: 4em; /* 1.777em */
    color: #e81a55;
    margin: 0;
/* thin not working
    font-family: 'proxima-nova-alt';
    font-style: normal;
    font-weight: 100;
*/


    
}

h4 {
    
    font-size: 1.777em; /* 1.333em */
    margin: 10px 0;
    
    
}




h1, h2, h3, h4 {
    
    
    font-weight: normal;
    
    
}


    .intro {
        
        text-align: left;
        font-size: 1.333em;
        
    }


hr { 
    
    border: none;
    padding: 5px;

}


p {
    
    
    padding: 5px;
    line-height: 1.8;
    font-size: 1.1em;
    
    
}


p.intro {
    line-height: 1.5;
}






        blockquote {
         
            margin-top: 60px;
            
        }
        
        
        blockquote p {
         
            font-size: 1.333em;
            color: #555;
            border-left: 5px solid #e81a55; /* was e81a55 before */
            padding-left: 20px;
            
            
            
        }

        

        
        .cite { 
            
            color: #555;
            margin-bottom: 40px;
            
        }



        #disguise-ol {
            
            padding: 5px;  was 5px 30px; before images added to li 
            padding-right: 0px;
            list-style: none;
            
        }


        ol li {
            
            
            
            padding: 10px;

            
            
        }



        #disguise-ol li {
            
            padding-left: 0;
            line-height: 1.8;
            font-size: 1.1em;
/*
            float: left;
            clear: both;
*/
            
        }


        li.dropcap {
            
            display: block;
            float: left;
            padding-right: 20px;
            clear:both;
            
            
        }


        .image-li {
            
            
float: left;
        margin: 10px 0;
            
            
        }




/*
        li#number-1 {
        
        
        background: url(../images/number-12.png) no-repeat;
        padding-left: 120px;
        height: 150px;


            
                    
        list-style-image: url(../images/number-1.png);
        

            
        }
*/




footer {
    
    width: 50%; /* was 300px but this is better */
    display: block;
    margin: 60px auto;
    
}



footer p {
    
    
    display: inline;
    text-align: center;
    font-size: 1em;
    
    
}

footer p#middle-line {
    
    border-left: 1px solid grey;
    padding-left: 10px;
    
    
    
}


a, a:link, footer a {
    
    
    color: inherit;
    text-decoration: none;
    
    
}


a:hover {
    
    color: #e81a55; 
    
    
}

/*

a:visited {
    
    color: #d5d5d5;
    
}
*/


#banner-image, #banner-image p {
    
    
    padding: 0;
    margin: 0;
    
    
}




#banner-image { 
    
    
    
    display: block;
    margin: 0 auto;
    height: 180px;
    border: 1px solid #e81a55;
    width: 100%;
/*    position: fixed;  added for scrolling purposes */
/*    background-color: #e81a55;*/
/*
    background-image: url(../images/test.svg);
    background-repeat: repeat-x;
    
*/

}

#banner-image img {
    
    max-width: 100%;
    display: block;
    margin: auto;
    width: 100%;
    height: 180px;
    
    
/*    display: none;*/
    
}


figure {
    width: 80%;
    display: block;
    margin: 40px auto;
    text-align: center;
    
    
}

/*

figure img {
    
    width: 80%;
    
}
*/


figcaption {
    
    font-size: 0.8em;
    
}

        